*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --text-color: #202020;
    --hover: #9c9688;
}

h1, h2, h3, h4, h4,
h5, h6, p, a, i {
    color: var(--text-color);
    font-family: Roboto, Roboto Mono, monospace, sans-serif;
}

/*Display flex used to ensure footer stays at the bottom*/
body {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f5;
    background-image: url(./images/noise-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4.5em 4em 0 4em;
}

/*Styling for header & navbar*/
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #f7f7f5;
    padding: 0 2em;
    box-shadow: 0.5px 0.5px 1px #727272;
}

.logo a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

.menu {display: flex;}
.menu li {padding-left: 1em;}
.menu li a {
    font-size: 1.125rem;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
    position: relative;
    text-transform: uppercase;
}

.menu li a:hover {color: var(--hover);}

.open-menu, .close-menu {
    position: absolute;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {display: none;}

/*Styling for about me section*/
.about-me {
    margin: 2em 0 3em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 16px;
    
}

.about-me h1 {
    font-weight: 900;
    margin-bottom: 0.5em;
}

.about-me h2 {
    font-weight: 900;
    margin-bottom: 0.5em;
}

.about-me p {
    font-family: Roboto Mono, monospace;
    font-size: 1.125rem;
    letter-spacing: 0.1px;
}

.tech-stack-container {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 16px;
}

.tech-stack {
    font-family: Roboto Mono, monospace;
    border: 1.5px solid #202020;
    border-radius: 20px;
    text-align: center;
    padding: 0.25em 2em;
}

/*looking ahead section*/
.looking-ahead-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 16px;
}


.looking-ahead-container img {
    display: block;
    margin: auto;
    max-height: 350px;
}

.looking-ahead-container h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.looking-ahead-container p {
    font-family: Roboto Mono, monospace;
    font-size: 1.125rem;
    letter-spacing: 0.1px;
}

/*Styling for footer*/
footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 1em 0;
}

.footer {
    max-height: fit-content;
    margin-top: 2em;
}

.footer hr {
    color: #20202021;
}

.socials a {
    text-decoration: none;
}

.socials a i {
   font-size: 2rem; 
   transition: all 0.3s;
   margin-right: 0.5em;
}

.socials a i:hover {
    color: var(--hover);
}

/*Styling for media queries*/
@media(max-width: 597px) {
    body {
        margin: 4.5em 1em 0 1em;
    }

    .nav-bar {
        padding: 0 1em;
    }

    .menu {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: fit-content;
        height: 35%;
        padding: 0 2em;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #f7f7f5;
        transition: all 0.3s;
    }

    .menu li {
        margin-top: 40px;
        text-align: start;
    }

    .open-menu, .close-menu {
        display: block;
        color: var(--text-color);
    }

    #check:checked ~ .menu {right: 0;}
}

@media(max-width: 768px) {
    .about-me {
        grid-template-columns: 1fr;
    }

    .looking-ahead-container {
        grid-template-columns: 1fr;
    }
}