*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --text-color: #202020;
    --hover: ;
}

/*Display flex used to ensure footer stays at the bottom*/
body {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f5;
    background-image: url(./images/noise-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4.5em 4em 0 4em;
}

/*Styling for header & navbar*/
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #f7f7f5;
    padding: 0 2em;
    box-shadow: 0.5px 0.5px 1px #727272;
}